.topBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.459);
    backdrop-filter: blur(10px);
    border-bottom: 2px solid #1374f3;
    box-shadow: 0px 0px 10px #08185c;
}
.menu-icon{
    font-size: 100px;
    
}
.name{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#006effff;
    text-shadow: 0px 10px 10px #31247c83;
  
}