
.top-info {

    display:flex;
    flex-direction: column;
    align-items: center;
  
}
.title{
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#006effff;
    text-shadow: 0px 10px 10px #31247c83;
}
.description{
    text-align: center;
    direction: rtl;
    color: rgb(189, 217, 255);
    font-size: 20px;
    font-weight: 500;
    line-height: 2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 40%;
    min-width: 300px;
    text-shadow: 0px 10px 10px #17152783;
}