.mainPage{
    width: 100%;
    display: flex;

    align-items: center;
    flex-direction: column;
     height: 98%;
    overflow: auto;

}
.bottom-btns{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    width: 300px;
    margin-bottom: 100px;
}
