.mainPage{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.top-info {

    display:flex;
    flex-direction: column;
    align-items: center;
  
}