
*{
    margin: 0px;
    padding: 0px;
}

body{
  background-image: url('/img/background.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;

}
.overlay{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.473);
    backdrop-filter: blur(2px);
}



